body {
  margin: 0;
  padding: 0;
  font-family: "Funnel Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#content {
  display: flex;
  height: 100vh;
}

header {
  background-color: #b0b0b0;
  width: 15%;
  padding: 10px;
}

.navs-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 1rem;
  margin: 0;
  align-items: flex-start;
  width: auto;
}

nav {
  width: 100%;
}

.navs-container button {
  display: flex;
  align-items: center;
  padding: 5px 0px 5px 10px;
  border-style: none;
  width: 100%;
  text-align: left;
  font-size: 1rem;
  background-color: #b0b0b0;
  line-height: 1rem;
  border-radius: 5px;
}

button > img {
  height: 23px;
  width: 23px;
  padding-right: 10px;
}

.navs-container > nav > button {
  font-weight: bolder;
}

.navs-container
  button:hover:not(#reminder > button, #label > button, button > svg) {
  background-color: #7d7d7d;
  color: black;
  filter: invert(0);
  font-size: 1.1rem;
}

#label nav,
#reminder nav {
  padding-left: 45px;
  width: auto;
}

.main-container {
  display: flex;
  background-color: #d7d7d7;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

footer {
  margin-top: auto;
}

.todo-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 4px black solid;
  width: 80%;
}

h1 {
  width: 50%;
  text-align: center;
}

.search-container {
  padding-top: 20px;
  justify-self: center;
  width: 95%;
  padding-right: 10px;
}

#search {
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}

.newTask-container {
  column-count: 2;
  padding: 30px;
  width: 80%;
}

.newTask-container input[type="date"] {
  margin-bottom: 20px;
  background-color: transparent;
  color: black;
  border: none;
  font-size: 1rem;
  font-weight: bold;
}

.label-text {
  padding-top: 20px;
}

.tasks {
  display: flex;
  flex-direction: column;
  break-inside: avoid;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 30px 15px 30px;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 80%;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  min-height: 200px;
}

.modal-container {
  margin: auto;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 40%;
  border-radius: 0.5rem;
  min-height: 100px;
  max-height: 650px;
  background-color: #f8f8ff;
}

.task-modal {
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.new-header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(15, 15, 15, 0.4) 0px 0px 0px 2px,
    rgba(46, 47, 48, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 0.5rem;
  padding: 0.3rem;
  height: 70px;
}

.new-header > h2 {
  font-size: 2.5rem;
}

#title {
  max-height: 100px;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding-bottom: 10px;
}

#description {
  max-height: 250px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.tasks > p,
.tasks > h2 {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.clickable-content {
  display: flex;
  align-items: center;
  padding: 10px;
}

.fields-container {
  display: flex;
  gap: 30px;
  width: 100%;
}

.buttons-container {
  display: flex;
  gap: 30px;
}

.modal-button {
  font-weight: bolder;
  font-size: 1rem;
  color: whitesmoke;
  height: 3rem;
  width: 3rem;
  border: none;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.modal-button:active {
  box-shadow: none;
}

.modal-button:first-child {
  background-color: #2e8b57;
}

.modal-button:last-child {
  background-color: #ff6347;
}

.editable-content {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  padding: 0 10px 30px 10px;
  overflow: hidden;
  margin: 20px 0 10px 0;
}

[contenteditable] {
  display: inline-block;
  overflow: hidden;
}

[contenteditable]:focus {
  display: inline-block;
  outline: 0;
  overflow-y: auto;
}

[contenteditable][data-placeholder]:empty::before {
  content: attr(data-placeholder);
  color: grey;
  display: inline-block;
  cursor: text;
}

[contenteditable][data-placeholder]:empty:focus::before {
  content: attr(data-placeholder);
  display: inline-block;
}

.hidden {
  display: none;
}

select,
button:not(#reminder > button, #label > button) {
  cursor: pointer;
}

.urgent,
#new-urgent {
  color: white;
  background-color: #dc143c;
}

.high-priority,
#new-high {
  color: white;
  background-color: #ff6347;
}

.normal,
#new-normal {
  color: white;
  background-color: #ffa500;
}

.low-priority,
#new-low {
  color: white;
  background-color: #2e8b57;
}

.taskButton-container {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.task-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  background-color: white;
  outline: 3px #181717 solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
  font-weight: bolder;
}

.task-buttons:hover {
  background-color: #b0b0b0;
}

.task-buttons:hover .text {
  color: #181717;
}

.task-buttons:hover svg path {
  fill: #181717;
}
